@import url('https://fonts.googleapis.com/css?family=Merriweather:700i,900i|Open+Sans:300,400,600,700');
@import url('../reset.css');

* {
	box-sizing: border-box; }

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0; }  

/* --- VARIABLES ---*/

$grey: #959595;
$green: #82ca9c;
$rose: #f5989d;
$violet: #bd8cbf;
$dark-blue: #615f7d;
$light-grey: #f6f7fa;
$btn-grey: #e1e1e1;
$superdarkblue: #192431;

/* --- GENERAL ---*/

a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

p {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: 100;
}
    
h1 {
    font-size: 60px;
    font-weight: 100;
    line-height: normal;
    color: #fff;
}

h2 {
    font-weight: 100;
    line-height: normal;
    color: #fff;    
    font-size: 35px;
}

h3 {
    font-size: 30px;
    font-weight: 100;
    line-height: normal;
    color: #000;
}

h4 {
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;;
    color: #000;
}
    
hgroup {
    margin-top: 25%;
    
    h1 {
        padding: 50px 0;
    }
        
    p {
        max-width: 500px;
        line-height: 32px;
    }    
}

i {
    &.fa {
        color: #fff;
        font-size: 20px;
        display: inline-block;
        margin-left: 15px;
    }
}

.container {
	width: 100%;
	max-width: 1230px;
	margin: 0 auto; }


/* --- CLEARFIX --- */

.row:before,
.row:after {
	content: " ";
	display: table; }

.row:after {
	clear: both; }


/* --- GRID --- */

[class*="col-"] {
	float: left;
	min-height: 1px;
	padding: 15px; }

/* For desktop: */ 
.col-1 {width: 8.33%; } 
.col-2 {width: 16.66%; } 
.col-3 {width: 25%; } 
.col-4 {width: 33.33%; } 
.col-5 {width: 41.66%; } 
.col-6 {width: 50%; } 
.col-7 {width: 58.33%; } 
.col-8 {width: 66.66%; } 
.col-9 {width: 75%; } 
.col-10 {width: 83.33%; } 
.col-11 {width: 91.66%; } 
.col-12 {width: 100%; }

.col-offset-0 {margin-left: 0; } 
.col-offset-1 {margin-left: 8.33%; } 
.col-offset-2 {margin-left: 16.66%; } 
.col-offset-3 {margin-left: 25%; } 
.col-offset-4 {margin-left: 33.33%; } 
.col-offset-5 {margin-left: 41.66%; } 
.col-offset-6 {margin-left: 50%; } 
.col-offset-7 {margin-left: 58.33%; } 
.col-offset-8 {margin-left: 66.66%; } 
.col-offset-9 {margin-left: 75%; } 
.col-offset-10 {margin-left: 83.33%; } 
.col-offset-11 {margin-left: 91.66%; }


/* --- HEADER --- */

header {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    height: 100vh;
    min-height: 700px;
    width: 100%;
    
    a {
        margin-top: 55px;
        padding-left: 30px;
        font-family: 'Merriweather', serif;
        
        span {
            display: inline-block;
            position: relative;
            bottom: 15px;
            line-height: 20.8px;
            font-size: 20.8px;
            padding: 10px;
        }
    }
    .circle {
        display: inline-block;
        position: relative;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 3px #fff solid;

        &:after {
            content: "";
            height: 16px;
            width: 16px;
            border-radius: 50%;
            border: 3px #fff solid;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
        }
    }
}

/* --- START SECTION ---*/

.start {
    
    .container {
        padding-top: 30px;
        padding-bottom: 60px;
        position: relative;
        
        img {
            position: absolute;
            top: -400px;
            right: 0px;
            width: 500px;
            
        }
    }
    
    p {
        color: $grey;
        padding: 10px 0;
    }
    
    h2 {
        color: #000;
        padding: 20px 0;
    }
    
    .whitespace {
        height: 186px;
        width: 100%;
        background-color: inherit;
    }    
}


/* --- FEATURES SECTION --- */

.features {
    .container {
        max-width: 100vw; 
        
        h3 {
            padding: 20px 0;
            color: #fff;
        }
    
        p {
           
            font-size: 13px;
        }
        
        [class*="feat-"] {
            height: 280px;
            padding: 10px 40px;
            object-fit: cover;
            position: relative;
        }

        i {
            &.fa-long-arrow-right {
                transition: margin-left 0.5s ease-in-out;
            }
        }
        
        a {
            display: inline-block;
            position: absolute;
            bottom: 40px;
            &:hover 
                .fa-long-arrow-right {
                    margin-left: 100px; 
            }
        }
        
        .fa-heart-o {
            position: absolute;
            bottom: 55px;
            right: 55px;
            transition: transform 0.5s;
            &:hover {
                transform: scale(1.3);
            }
        }

        .feat-1 {
            background-color: $rose;
        }

        .feat-2 {
            background-color: $dark-blue;
        }

        .feat-3 {
            background: url('../img/gallery1.jpg') no-repeat 0/cover;
        }

        .feat-4 {
            background-color: $violet;
        }

        .feat-5 {
            background: url('../img/galery2.jpg') no-repeat 0/cover;
            background-position: 0% 60%;
        }

        .feat-6 {
            background-color: $green;
        }

        .feat-7 {
            background: url('../img/gallery3.jpg') no-repeat 0/cover;
            background-position: 60% 0;
        }

    }
}

/* --- BENEFITS SECTION --- */

.benefits {
    padding-bottom: 100px;

    p {
        color: $grey;
        font-size: 13px;
    }
    
    h2 {
        color: #000;
        margin-left: 0;
        padding-left: 15px;
        padding-top: 50px;
    }
    
    h4 {
        padding: 10px 0;
    }
}

/* --- HERO CAR SECTION --- */

.hero-car {
    background: url('../img/car.jpg') fixed no-repeat 0/cover;
    height: 90vh;
    min-height: 650px;
    background-position: center;
    
    hgroup {
        div {
            &:first-of-type {
                position: relative;
            }
            a {
                position: absolute;
                left: 0;
                bottom: -100px;
                &:hover .fa-long-arrow-right {
                    margin-left: 100px;    
                }
                i {
                    &.fa-long-arrow-right {
                        transition: margin-left 0.5s ease-in-out;
                    } 
                } 
            }
        }
        h2 {
            font-size: 60px;
            font-weight: 100;
            line-height: normal;
            color: #fff;
        }   
    }
}

/* --- REASONS SECTION --- */
.reasons {
    background-color: $green;
    padding-bottom: 50px;
    
    h2 {
        padding-top: 50px;
        padding-left: 15px;
    }
    
    h4 {
        color: #fff;
        padding: 10px 0;
        
    }
    
}

/* --- OFFER SECTION --- */

.offer {
    background-color: $light-grey;
    padding: 100px 0;
    
    h3 {
        color: #000;
        line-height: 30px;
        padding: 20px 0 10px 0;
    }
    
    p {
        color: $grey;
        padding: 10px 0 30px 0;
    }
    
    .box {
        height: auto;
        padding: 50px;
        background-color: inherit;
        
        &:hover {
            background-color: #fff;
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
        }
        
        &:hover span {
            background-color: $violet;
        }
        
        span {
            display: inline-block;
            padding: 12px 24px; 
            font-size: 12px;
            font-weight: 700;
            color: #fff;
            background-color: $btn-grey;
            border-radius: 4px;
        }
        
        button {
            width: 150px;
            height: 50px;
            font-size: 13px;
            font-weight: 700;
            line-height: 50px;
            color: #fff;
            background-color: $green;
            border-radius: 10px;
            border: none;
            transition: transform 0.5s;

            &:hover {
                cursor: pointer;
                transform: scale(1.15);
            }
        }
        
        .fa {
            color: #c5c5c5;
            font-size: 24px;
            padding: 12px 12px 12px 0;
            transition: transform 0.5s;
            
            &:hover {
                cursor: pointer;
                transform: scale(1.3);
            }
        }
    }
}


/* --- FOOTER --- */

footer {
    background-color: $superdarkblue;
    padding: 50px 0;
    position: relative;
    
    .container {
        .row {
            .col-6 {
                &:nth-child(1) {
                    padding-right: 50px;
                }

                &:nth-child(2) {
                    padding-left: 50px;
                }
            }
        }
    }
    
    h4 {
        padding: 10px 0;
    }
    p {
        padding: 10px 0 20px 0;
    }
    p, h4, ul, li {
        color: #fff;
    }
    
    ul {
        padding: 0;
    }
    
    li {
        padding-left: 0;
        list-style-type: none;
        font-size: 13px;
        line-height: 24px;
    }
    
    .form {
        .form-group {
            position: relative;
            max-width: 500px;
        
            .form-mail {
                display: block;
                width: 100%;
                margin-right: 60px;
                height: 60px;
                background-color: #fff;
                border-radius: 4px;
                border: none;
                padding-left: 20px;
            }

            .send {
                width: 70px;
                height: 60px;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                background-color: $green;
                border: none;
                position: absolute;
                right: 0;
                top: 0;
                
                &:hover {
                    cursor: pointer;
                }
                
                i {
                    &.fa {
                        font-size: 24px;
                        line-height: 60px;
                        color: #fff;
                        margin-left: 0;
                        transition: transform 0.5s;
                            &:hover {
                                transform: scale(1.3);
                            }
                    }
                }
            }
        }
        
        span {
            color: #57697f;
            font-size: 13px;
        }
    }
    
    .copy {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        color: #fff;
        font-size: 13px;
        text-align: center;
        line-height: 50px;
        background-color: black;
    }
}

/* --- MEDIA QUERIES --- */

/* small desktop and tablets: */ 
@media (min-width: 768px) and (max-width: 1200px) { 
	.col-m-1 {width: 8.33%;} 
	.col-m-2 {width: 16.66%;} 
	.col-m-3 {width: 25%;} 
	.col-m-4 {width: 33.33%;} 
	.col-m-5 {width: 41.66%;} 
	.col-m-6 {width: 50%;} 
	.col-m-7 {width: 58.33%;} 
	.col-m-8 {width: 66.66%;} 
	.col-m-9 {width: 75%;} 
	.col-m-10 {width: 83.33%;} 
	.col-m-11 {width: 91.66%;} 
	.col-m-12 {width: 100%;} 
    
    footer {
        padding: 10px 0;
        
        .container {
            .row {
                .col-6 {
                    &:nth-child(1) {
                        padding-right: 10px;
                    }

                    &:nth-child(2) {
                        padding-left: 10px;
                    }
                }
            }
        }
    }
} 


/* For tablets and phones: */ 

@media (max-width: 767px) { 
	.col-s-1 {width: 8.33%;} 
	.col-s-2 {width: 16.66%;} 
	.col-s-3 {width: 25%;} 
	.col-s-4 {width: 33.33%;} 
	.col-s-5 {width: 41.66%;} 
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;} 
	.col-s-8 {width: 66.66%;} 
	.col-s-9 {width: 75%;} 
	.col-s-10 {width: 83.33%;} 
	.col-s-11 {width: 91.66%;} 
	.col-s-12 {width: 100%;} 
     
    h1 {
        font-size: 54px;
    }
    p {
        padding: 10px 0;
    }
    
    hgroup {
        margin-top: 50px;
        text-align: center;
        p {
            max-width: none;
        }
    }
    
    .start {
        .container {
            padding-bottom: 30px;
            img {
                position: static;
                display: block;
                margin: 0 auto;
                width: 340px;
                height: auto;
            }
            .col-6 {
                &:nth-child(2) {
                    padding-top: 0;
                }   
            }

            .whitespace {
                display: none;
            }
        }
    }
    
    .benefits { 
        padding-bottom: 20px;
        
        h2 {
            padding-top: 10px;
        }
        
        p {
            padding: 0;
        }
    }
    
    .hero-car {
        hgroup {
            h2 {
                font-size: 54px;
                padding: 20px 0;
            }
        }
    }
    
    .reasons {
        
        h2 {
            padding-top: 10px;
        }
    }
    
    .offer {
        padding: 50px 0;
        .box {
            margin: 0 20px;
        }
/* Since at mobile devices there is no hover effect, we suggest deliberately this plan to the customer by giving it hover styles */
        .col-6 {
            &:nth-child(2) {
                .box {
                    background-color: #fff;
                    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
                    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
                    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
                    span {
                        background-color: $violet;
                    }
                }
            }
        }
    }
    
    footer {
        padding: 10px 0 50px 0;
        
        .container {
            .row {
                .col-6 {
                    &:nth-child(1) {
                        padding-right: 10px;
                    }

                    &:nth-child(2) {
                        padding: 0 15px;
                    }
                }
            }
        }
    }
}
